/*=============== GOOGLE FONTS ===============*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue-color: 240;

  --indigo: hsl(277, 94%, 28%);
  --han-purple: hsl(250, 72%, 51%);
  --gradient-1: linear-gradient(150deg, var(--indigo) 0%, var(--han-purple) 78%);

  --first-color: hsl(250, 72%, 51%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: #eeeeee;

  /*========== Font and typography ==========*/
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 2rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(var(--hue-color), 12%, 95%);
  --text-color: hsl(var(--hue-color), 12%, 75%);
  --body-color: hsl(var(--hue-color), 10%, 16%);
}

/*========== Button Dark/Light ==========*/
.clock__theme {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  padding: .25rem;
  border-radius: 50%;
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1),
    inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
  color: var(--first-color);
  cursor: pointer;
  transition: .4s;
}

/*========== Box shadow Dark theme ==========*/
.dark-theme .clock__circle {
  box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1),
    -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
    inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
    inset 6px 6px 12px hsla(var(--hue-color), 8%, 12%, 1);
}

.dark-theme .clock__theme {
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1),
    inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/*=============== TEXT ===============*/


.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.title {
  transition: .4s;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  background-image: var(--gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 3.5rem;
}

.list .list-a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
  list-style-type: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

}

.list .list-a:hover {
  transition: .3s;
  font-size: 2rem;
  background-image: var(--gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  flex-direction: column;
}


.name {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2.5rem;

}

/*=============== CLOCK ===============*/

.clock__circle {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.clock__content {
  align-self: center;
  row-gap: 3.5rem;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: var(--text-color-light);
}

.clock__twelve,
.clock__six {
  transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
  top: 1.25rem;
  left: 50%;
}

.clock__three {
  top: 50%;
  right: .75rem;
}

.clock__six {
  bottom: 1.25rem;
  left: 50%;
}

.clock__nine {
  left: .75rem;
  top: 50%;
}

.clock__rounder {
  width: .75rem;
  height: .75rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solid var(--body-color);
  z-index: var(--z-tooltip);
}

.clock__hour,
.clock__minutes,
.clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hour {
  width: 105px;
  height: 105px;
}

.clock__hour::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  width: .25rem;
  height: 3rem;
  border-radius: .75rem;
  z-index: var(--z-normal);
}

.clock__minutes {
  width: 136px;
  height: 136px;
}

.clock__minutes::before {
  content: '';
  position: absolute;
  background-color: var(--text-color);
  width: .25rem;
  height: 4rem;
  border-radius: .75rem;
  z-index: var(--z-normal);
}

.clock__seconds {
  width: 130px;
  height: 130px;
}

.clock__seconds::before {
  content: '';
  position: absolute;
  background-color: var(--first-color);
  width: .125rem;
  height: 5rem;
  border-radius: .75rem;
  z-index: var(--z-normal);
}

.clock__logo {
  width: max-content;
  justify-self: center;
  margin-bottom: var(--mb-2-5);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  transition: .3s;
}

.clock__logo:hover {
  color: var(--first-color);
}

.clock___text {
  padding-top: 5%;
}


.clock__text {
  display: flex;
  justify-content: center;
}



.clock__text-ampm {
  font-weight: var(--font-medium);

}

.clock__date {
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}




/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .clock__logo {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {


  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .clock__content.grid {
    flex-direction: column;
  }

  .clock-circle-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }

}